/* .hero {
        background-image: url('img/profss.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* You can set a height or use padding to control the container's size */
        /* height: 500px;  Example height  
      }
       */
